{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="card rounded-0">
            <h1 class="card-header font-weight-bold text-center text-primary">Resetting password</h1>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-6">
                        <div class="bg-light p-3 clearfix">
                            {{ form_widget(form) }}

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted rounded-0">
                <button type="submit" class="btn btn-success float-right">
                    <i class="fas fa-recycle mr-1"></i>Reset
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
